<!--NAVBAR-->
<div class="navbar navbar-dark bg-dark box-shadow">
  <a href="#" class="navbar-brand d-flex ms-auto me-auto"><strong>{{title}}</strong></a>
</div>

<!--ALL CURRENCIES-->
<div class="container text-center py-5">
  <h4>Bitcoin Price</h4>

  <table class="table mt-3">
    <thead class="table-dark">
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">15m</th>
        <th scope="col">Last</th>
        <th scope="col">Buy</th>
        <th scope="col">Sell</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-currency [ngForOf]="currencies">
        <tr>
          <th scope="row">{{currency.symbol}}</th>
          <td>{{currency['15m']}}</td>
          <td>{{currency.last}}</td>
          <td>{{currency.buy}}</td>
          <td>{{currency.sell}}</td>
          <td><button type="button" class="btn btn-secondary" (click)="convertCurrency(currency)">Convert</button></td>
        </tr>
      </ng-template>
    </tbody>
  </table>
   
</div>

<!--CONVERTER-->
<div class="album py-5 bg-light">
  <div class="container text-center">
    <h5 *ngIf="selectedCurrency">Form to convert from {{selectedCurrency.symbol}} goes here...</h5>
    <h5 *ngIf="!selectedCurrency">Form to convert from a currency goes here...</h5>
  </div>
</div>

<!--Convert modal doesn't currently display-->
<app-converter #converter [selectedCurrency]="selectedCurrency"></app-converter>

<router-outlet></router-outlet>
